/* 左侧通用menu */
.menu-down {
  width: 100%;
}
.menu-down ul {
  padding: 0;
  margin-bottom: 4px;
}
.menu-down li {
  list-style: none;
  margin-top: 8px;
}
.menu-down li a {
  display: inline-block;
  width: 100%;
  min-height: 34px;
  line-height: 34px;
  padding: 0 24px;
  vertical-align: middle;
  color: #000;
}
.menu-down li a:hover{
  background: #F0F0F0;
}
.menu-down li a .anticon {
  margin-right: 10px;
}
.menu-down .ant-menu-inline-collapsed {
  display: none;
}

.set-modal .ant-modal-content{
  padding-left: 10px;
  padding-right: 10px;
}
.set-modal .ant-modal-header {
  padding: 20px 15px;
}
.set-modal .ant-modal-title{
  font-size: 20px;
  color: #000000;
}
.set-modal .ant-modal-body{
  padding: 15px;
}
.set-modal h4{
  color: #000000;
}
